.vs/DotNetCore/v17/.suo
bin/Debug/net6.0/DotNetCore.dll
bin/Debug/net6.0/DotNetCore.pdb
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/DotNetCore.dll
obj/Debug/net6.0/DotNetCore.pdb
obj/Debug/net6.0/project.razor.json
/log
