/DotNetCore/appsettings.json
/DotNetCore/bin/*
/DotNetCore/.vs/*
/DotNetCore/Logs/*
/DotNetCore/obj/*
/DotNetCore/log
/DotNetCore/Logs
/DotNetCore/.vs
/.vs
/.vs/DotNetCore
/.vs/DotNetCore/
/.vs/DotNetCore/DesignTimeBuild/*
/.vs/DotNetCore/FileContentIndex/*
/.vs/DotNetCore/v17/*
/.vs/DotNetCore/v17/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.jmf

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
[Oo]bj/
[Ll]ogs/
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/[Xx]64/
**/[Xx]86/
**/[Bb]uild/
**/[Bb]in/
**/[Oo]bj/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.suo
*.dtbcache.v2
